<%= render 'main/header' %>

<h1>
  <a href="/categories/<%= @category.id %>"><%= @category.name %></a> >
  <%= @sub_category.name %></a></h1>

<h3>
<% @sub_sub_category.each do |subsubcat| %>
  | <a href="<%= @sub_category.id %>/sub_sub_categories/<%= subsubcat.id %>"><%= subsubcat.name %></a>
<% end %>
</h3>



<% @products.each do |product| %>
  <div class="col-md-4" style="padding: 0px 20px; height: 400px">
    <h1>
      <a href="/products/<%= product.id %>" style="color: black"><%= product.name %></a>
        <small>
          <%= product.price %>
        </small>
    </h1>
    <p>
      <%= product.description %>
    </p>
  </div>
<% end %>
