<%= render 'main/header' %>

<h1><%= @category.name %></h1>
<h3>
<% @sub_category.each do |subcat| %>
  | <a href="<%= @category.id %>/sub_categories/<%= subcat.id %>"><%= subcat.name %></a>
<% end %>
</h3>

<% @products.each do |product| %>
  <div class="col-md-4" style="padding: 0px 20px; height: 400px">
    <h1>
      <a href="/products/<%= product.id %>" style="color: black"><%= product.name %></a>
        <small>
          <%= product.price %>
        </small>
    </h1>
    <p>
      <%= product.description %>
    </p>
  </div>
<% end %>
